<%= form_for(@submit) do |f| %>
  <% if @submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submit.errors.count, "error") %> prohibited this submit from being saved:</h2>

      <ul>
      <% @submit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,"Team Name" %><br>
    <%= f.text_field :name, class: "form-control"  %>
  </div>

    <% @questions.each do |question| %>
     
      <div class="field">
      <%= f.fields_for :submit do |s| %>
       <%= s.label(question.question) %>
        <%= s.text_area question.id.to_s.to_sym, class: "form-control" %>
      <% end %>
    </div>
  
    <% end %> 

  <div class="actions">
    <%= f.submit "Submit Application", class: "btn btn-warning btn-lg" %>
  </div>
<% end %>
