<% if user_signed_in? %>

<div class="container">
  <div class="text-center">
    <h1> Start your application by clicking below. </h1>
   <%= link_to 'Start Application', new_submit_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>


<% else %>


    <!-- Landing Page top image --> 
    
          <div class="landing text-center">
            <div class="vpmain">
              <h1>Save yourself from your screen.</h1>
              <h1>Keep it real.</h1>
            </div>
          </div>

    <div class="container marketing">
   
      <!-- START THE FEATURETTES -->
      <hr class="divider">

  
      <div class="row">
        <div class="col-md-7">
          <h2 class="featurette-heading">HTML is <span class="text-muted">100% Free</span></h2>

          <p class="lead">No gimmicks. No bull. HTML is brought to you for free by the W3C. It can be used from the comfort of your own home. And it works in the browser along with CSS and JavaScript. Use all three to make a kickass Website.</p>

        </div>
        <div class="col-md-5">
           <%= image_tag "dog.jpg", alt: "Dogs love HTML", class: "img-thumbnail" %>
        </div>
      </div>

      <hr class="divider">

      <div class="row">
        <div class="col-md-5">
          <%= image_tag "chrome.jpg", alt: "Chrome Browser" %>
        </div>
        <div class="col-md-7">

          <h2 class="featurette-heading">What's Included with HTML?</h2>
          <p class="lead">Tags to make words <strong>bold</strong>. <em>Like a boss</em> And tons of CSS properties to style your page: <code> .ninja { color: black; visibility: none; }</code></p>

        </div>
      </div>

      <hr class="divider">

      <div class="companies">
        <div class="text-center">
          <h3 class="text-muted">HTML is Trusted By 100,000+ Companies Including</h3>
        </div>
        <div class="row">
          <div class="col-md-3">
              <%= image_tag "company1.svg", alt: "Bloomberg" %>        
          </div>
          <div class="col-md-3">
              <%= image_tag "company2.svg", alt: "Google" %>        
         </div>
         <div class="col-md-3">
             <%= image_tag "company3.svg", alt: "Y Combinator" %>        
         </div>
           <div class="col-md-3">
              <%= image_tag "company4.svg", alt: "Singularity University" %>        
          </div>
        </div>
      </div><!-- .trusted-companies --> 


   </div><!-- /.container --> 

      

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>Made with <a href="http://www.onemonthtml.com" target="_blank">One Month HTML</a></p>
    </footer>
<% end %>

